*{font-family: "Roboto";
list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

.main-hooter{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/* navigation section */

.header-navigation-logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #4D5AE5;
text-transform: uppercase;
}
.header-navigation-logo-color{
font-family: "Raleway";
font-weight: 700;
font-size: 18px;
line-height: 21px;
letter-spacing: 3%;
color: #2E2F42;
}
.header-navigation-list{
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-navigation-list:hover{
    color: #404bbf;
}
.header-navigation-list:focus{
    color: #404bbf ;
}
.header-navigation-page{
    color: #2E2F42;
}
.header-navigation-page:hover{
color: #404bbf ;
}
.header-navigation-page:focus{
color: #404bbf ;
}

.address{
    font-style: normal;
}
.address-list{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.address-list:hover{
color: #404bbf ;
}
.address-list:focus{
color: #404bbf ;
}
.adress-list-info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adress-list-info:hover{
color: #404bbf ;
}
.adress-list-info:focus{
color: #404bbf ;
}
/* navigation section end */

/* hero baner start */
.hero-banner{
background-color: #2e2f42;
}
.hero-banner-text{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}
.hero-banner-button{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
}
button:hover{
color: #404bbf ;
}
button:focus{
color: #404bbf ;
}
button{
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}
/* hero baner end */


/* main information start */
.studio {
}
.benefits-list {
  color: #434455;
}
.benefits-list-item {
}
.benefits-list-item-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
 letter-spacing: 0.02em;
color: #2e2f42;
}
.benefits-list-item-text {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}
/*  main information end */

/* our team start */
.team-main{
    background-color: #F4F4FD;
}
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
 text-transform: capitalize;
}
.team-list {
}
.team-list-gaid {
      background-color: #FFFFFF;
}
.team-list-photo {
}
.team-list-name {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color:#2E2F42;
}
.team-list-name-gob {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
/* out team end */

/* our portfolio start */
.portfolio {
}
.portfolio-name {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
text-transform: capitalize;
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-list-name {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 2%;
color: #2E2F42;
}
.portfolio-list-text {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 2%;
color: #434455;
}
/* our portfolio end */


.footer{
    background-color: #2E2F42;
}
.footer-main{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
vertical-align: middle;
text-transform: uppercase;
color: #4d5ae5;
}
.footer-logo{
    color: #f4f4fd ;
}
.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}